@import 'scrollbar';

:root {
}
html,
body {
	position: relative;

	/* width: 98vw; */
	/* height: 100%; */

	/* margin-inline-end: 3px; */
}

body {
	color: #333;
	/* background-color: #333; */
	margin: 0;
	/* padding: 8px 0; */
	box-sizing: border-box;
	overflow: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

h2 {
	color: #ff3e00;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 100;
	line-height: 1.1;
	margin: 4rem auto;
	max-width: 14rem;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

p {
	max-width: 14rem;
	margin: 2rem auto;
	line-height: 1.35;
}
label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
/*----------------*/
/*-----Added------*/
/*----------------*/

@media (min-width: 480px) {
	h1 {
		max-width: none;
	}

	p {
		max-width: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.headline {
		text-align: center;
		font-size: large;
	}

	.row {
		/* flex-wrap: wrap !important; */
		flex-direction: column !important;
		align-items: center !important;
	}
}

@media only screen and (max-width: 768px) {
	.row {
		flex-wrap: nowrap !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.row {
		flex-wrap: nowrap !important;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.row {
		flex-wrap: nowrap !important;
	}
}

/*_____Labels_____*/

/*____Scrollbar____*/
